<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Super-car <small>from nydailynews.com</small></h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-3">Title</div>
                <div class="col col-9">Description</div>
            </li>
             {% for row in superCar %}
            <li class="table-row">
                <div class="col col-3" data-label="Job Id">{{ row.year }} {{row.name}}</div>
                <div class="col col-9" data-label="Amount">{{row.desciption}}</div>
            </li>
             {% endfor %}
        </ul>
    </div>
    <div class="container">
        <h2>Truck <small>from nydailynews.com</small></h2>
        <ul class="responsive-table">
            <li class="table-header">
               <div class="col col-3">Title</div>
                <div class="col col-9">Description</div>
            </li>
             {% for row in truck %}
            <li class="table-row">
                <div class="col col-3" data-label="Job Id">{{ row.year }} {{row.name}}</div>
                <div class="col col-9" data-label="Amount">{{row.desciption}}</div>
            </li>
             {% endfor %}
        </ul>
    </div>
</body>

</html>