<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <title>Main page</title>
</head>

<body>
    <div class="container super-car">
        <h2>Super-car <small>from nydailynews.com</small></h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-3">Title</div>
                <div class="col col-9">Description</div>
                <div class="col col-2">Price</div>
            </li>
            {% for row in super_car %}
            <li class="table-row">
                <div class="col col-3" >{{row.name}}</div>
                <div class="col col-9" >{{row.desciption}}</div>
                <div class="col col-2">{{row.price or ''}}</div>
            </li>
            {% endfor %}
        </ul>
         <div class="action">
        <button onclick="navigateToPage(-1, 'page')">prev</button>
        <button onclick="navigateToPage(1, 'page')">next</button>
    </div>
    </div>
   
    <div class="container truck">
        <h2>Truck <small>from nydailynews.com</small></h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-3">Title</div>
                <div class="col col-9">Description</div>
                <div class="col col-2">Price</div>
            </li>
            {% for row in truck %}
            <li class="table-row">
                <div class="col col-3" >{{row.name}}</div>
                <div class="col col-9" >{{row.desciption}}</div>
                <div class="col col-2">{{row.price or ''}}</div>
            </li>
            {% endfor %}
        </ul>
         <div class="action">
        <button onclick="navigateToPage(-1, 'page_truck')">prev</button>
        <button onclick="navigateToPage(1, 'page_truck')">next</button>
    </div>
    </div>
   
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>